:root {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    gap: 1rem;
}

.bg-orange {
    background-color: #eb6f4c;
}

.bg-dark {
    background-color: #343a40!important;
}


.search {
    border-radius: 0.25rem;
    border: none;
    z-index: 1;
    padding: .5rem;
}

.btn {
    border: none;
    padding: .5rem;
    border-radius: 0.25rem;
    font-family: inherit;
}

.btn-search {
    margin-left: -.25rem;
    color: white;
}

.btn-search:hover {
    background-color: #e9633e
}

.container {
    display: flex;
    justify-content: center;
    color: white;
}

#title {
    gap: 1rem;
}

#title h1 {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
}

#title img {
    height: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.weather-card {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
}


@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}