:root {

}

body {
    background-color: #fafafa;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.bg-orange {
    background-color: #eb6f4c;
}

.bg-dark {
    background-color: #343a40!important;
}

.container {
    display: flex;
    justify-content: center;

}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}